# 12 Dataset

In [36]:
import pandas as pd

path = 'onlineretail.csv'
retail_data = pd.read_csv(path, encoding='latin1')

#Excel
#data_excel = pd.read_excel(path)

#JSON
#data_json = pd.read_json(path)

#print(type(retail_data))
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [37]:
import numpy as np
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
dt_from_array = pd.DataFrame(data, columns=['A','B','C'])

In [38]:
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [39]:
data2 =[[1,'jhon',22],[2,'ana',24]]
dt_from_list = pd.DataFrame(data2,columns=['ID','NAME','AGE'])

print(dt_from_list)

   ID  NAME  AGE
0   1  jhon   22
1   2   ana   24

In [40]:
data3 = [{'ID':1,
        'NAME':'jhon',
        'AGE':22}]

df_from_dict_list = pd.DataFrame(data3)
print(df_from_dict_list)

   ID  NAME  AGE
0   1  jhon   22

In [41]:
data4 = {'ID': [1,2,3],
         'NAME':['jhon','ana', 'mike'],
         'AGE': [22,25,26]}

df_from_dict= pd.DataFrame(data4)
print(df_from_dict)

   ID  NAME  AGE
0   1  jhon   22
1   2   ana   25
2   3  mike   26

In [42]:
data5 = {'ID':pd.Series([1,2,3]),
       'name': pd.Series(['jhon','ana', 'mike']),
       'Edad':pd.Series([22,25,26])}
df_from_series_dict = pd.DataFrame(data5)

print(df_from_series_dict)

   ID  name  Edad
0   1  jhon    22
1   2   ana    25
2   3  mike    26

In [43]:
columnas = retail_data.columns
print(columnas)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [44]:
print(retail_data.shape)

(541909, 8)

In [45]:
daily_sales=retail_data['Quantity']
print(daily_sales)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [46]:
daily_sales.describe()

count    541909.000000
mean          9.552250
std         218.081158
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [47]:
print(daily_sales.sum())

5176450

In [49]:
count_val = daily_sales.count()
print(count_val)

541909

In [50]:
#iloc y LOC
first_row = retail_data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                        12/1/2010 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [51]:
first_five_row= retail_data.iloc[0:5]
print(first_five_row)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [52]:
subset = retail_data.iloc[:3,:2]
print(subset)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

In [53]:
subset2 = retail_data.iloc[1,2]
print(subset2)

WHITE METAL LANTERN

In [54]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [55]:
row_index3 = retail_data.loc[3]
print(row_index3)

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                         12/1/2010 8:26
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

In [56]:
row_index_0_4 = retail_data.loc[0:4]
print(row_index_0_4)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [57]:
quantity_colu = retail_data.loc[:,'Quantity']
print(quantity_colu)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [58]:
quantity_Prices_colu = retail_data.loc[:,['Quantity','UnitPrice']]
print(quantity_Prices_colu)

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

In [59]:
missing_data = retail_data.isna()
print(missing_data)

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]

In [60]:
missing_data_count = retail_data.isna().sum()
print(missing_data_count)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [61]:
no_missing_rows = retail_data.dropna()
print(no_missing_rows)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

In [62]:
no_missing_cols=retail_data.dropna(axis=1)
print(no_missing_cols)

       InvoiceNo StockCode  Quantity      InvoiceDate  UnitPrice  \
0         536365    85123A         6   12/1/2010 8:26       2.55
1         536365     71053         6   12/1/2010 8:26       3.39
2         536365    84406B         8   12/1/2010 8:26       2.75
3         536365    84029G         6   12/1/2010 8:26       3.39
4         536365    84029E         6   12/1/2010 8:26       3.39
...          ...       ...       ...              ...        ...
541904    581587     22613        12  12/9/2011 12:50       0.85
541905    581587     22899         6  12/9/2011 12:50       2.10
541906    581587     23254         4  12/9/2011 12:50       4.15
541907    581587     23255         4  12/9/2011 12:50       4.15
541908    581587     22138         3  12/9/2011 12:50       4.95

               Country
0       United Kingdom
1       United Kingdom
2       United Kingdom
3       United Kingdom
4       United Kingdom
...                ...
541904          France
541905          France
541906          France
541907          France
541908          France

[541909 rows x 6 columns]

In [65]:
#llenar o imputar con cero
retail_data_fill_zeros = retail_data.fillna(0)
missing_dataf_count = retail_data_fill_zeros[''].isna().sum()
print(missing_dataf_count)
print(retail_data)

KeyError: ''

In [66]:
mean_unit_prices = retail_data['UnitPrice'].mean
retail_data_fill_mean = retail_data['UnitPrice'].fillna(mean_unit_prices)
print(retail_data_fill_mean)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

#Manipulacion de columnas

In [67]:
path = 'onlineretail.csv'
df_new = pd.read_csv(path, encoding='latin1')

In [68]:
df_new['TotalPrice'] = df_new['Quantity'] * df_new['UnitPrice']
print(df_new.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/2010 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/2010 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/2010 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/2010 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/2010 8:26       3.39     17850.0  United Kingdom       20.34

In [69]:
df_new['HighValue']= df_new["TotalPrice"]>16
print(df_new['HighValue'].head(10))

0    False
1     True
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
Name: HighValue, dtype: bool

In [70]:
print(df_new.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [71]:
df_new['InvoiceDate'] = pd.to_datetime(df_new['InvoiceDate'])
print(df_new.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [72]:
df_new['DiscountedPrice']=df_new["UnitPrice"].apply(lambda x: x * 0.9)
print(df_new.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom       15.30
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom       25.50
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08

   HighValue  DiscountedPrice
0      False            2.295
1       True            3.051
2       True            2.475
3       True            3.051
4       True            3.051
5      False            6.885
6       True            3.825
7      False            1.665
8      False            1.665
9       True            1.521

In [73]:
def categorize_price(price):
    if price > 10:
        return 'High'
    elif price > 5 and price <10:
        return "Medium"
    else:
        return "Low"
    
df_new['PriceCategory']= df_new['UnitPrice'].apply(categorize_price)

print(df_new['PriceCategory'].value_counts())
print(df_new['PriceCategory'].value_counts().unique())

PriceCategory
Low       453936
Medium     62954
High       25019
Name: count, dtype: int64
[453936  62954  25019]

# group by

In [74]:
country_count = df_new['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [75]:
country_group = df_new.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [76]:
country_stats = df_new.groupby('Country')['UnitPrice'].agg(['mean','sum'])
print(country_stats)

                            mean          sum
Country
Australia               3.220612     4054.750
Austria                 4.243192     1701.520
Bahrain                 4.556316       86.570
Belgium                 3.644335     7540.130
Brazil                  4.456250      142.600
Canada                  6.030331      910.580
Channel Islands         4.932124     3738.550
Cyprus                  6.302363     3920.070
Czech Republic          2.938333       88.150
Denmark                 3.256941     1266.950
EIRE                    5.911077    48447.190
European Community      4.820492      294.050
Finland                 5.448705     3786.850
France                  5.028864    43031.990
Germany                 3.966930    37666.000
Greece                  4.885548      713.290
Hong Kong              42.505208    12241.500
Iceland                 2.644011      481.210
Israel                  3.633131     1079.040
Italy                   4.831121     3879.390
Japan                   2.276145      814.860
Lebanon                 5.387556      242.440
Lithuania               2.841143       99.440
Malta                   5.244173      666.010
Netherlands             2.738317     6492.550
Norway                  6.012026     6529.060
Poland                  4.170880     1422.270
Portugal                8.582976    13037.540
RSA                     4.277586      248.100
Saudi Arabia            2.411000       24.110
Singapore             109.645808    25108.890
Spain                   4.987544    12633.450
Sweden                  3.910887     1806.830
Switzerland             3.403442     6813.690
USA                     2.216426      644.980
United Arab Emirates    3.380735      229.890
United Kingdom          4.532422  2245715.474
Unspecified             2.699574     1204.010

In [77]:
country_stock_group = df_new.groupby(['Country','StockCode'])['Quantity'].sum()
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [78]:
def total_revenue (group):
    return (group['Quantity']*group['UnitPrice']).sum()

revenue_per_country =df_new.groupby('Country').apply(total_revenue)

print(revenue_per_country.sort_values())

Country
Saudi Arabia                131.170
Bahrain                     548.400
Czech Republic              707.720
RSA                        1002.310
Brazil                     1143.600
European Community         1291.750
Lithuania                  1661.060
Lebanon                    1693.880
USA                        1730.920
United Arab Emirates       1902.280
Malta                      2505.470
Canada                     3666.380
Iceland                    4310.000
Greece                     4710.520
Unspecified                4749.790
Poland                     7213.140
Israel                     7907.820
Singapore                  9120.390
Hong Kong                 10117.040
Austria                   10154.320
Cyprus                    12946.290
Italy                     16890.510
Denmark                   18768.140
Channel Islands           20086.290
Finland                   22326.740
Portugal                  29367.020
Norway                    35163.460
Japan                     35340.620
Sweden                    36595.910
Belgium                   40910.960
Spain                     54774.580
Switzerland               56385.350
Australia                137077.270
France                   197403.900
Germany                  221698.210
EIRE                     263276.820
Netherlands              284661.540
United Kingdom          8187806.364
dtype: float64

C:\Users\rojas\AppData\Local\Temp\ipykernel_3824\2374788652.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  revenue_per_country =df_new.groupby('Country').apply(total_revenue)

In [79]:
print(df_new.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValue  DiscountedPrice PriceCategory
0      False            2.295           Low
1       True            3.051           Low
2       True            2.475           Low
3       True            3.051           Low
4       True            3.051           Low

In [80]:
#filtrar ventas en UK
uk_sales = df_new[df_new['Country'] =='United Kingdom' ]

print(uk_sales)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                    ...        ...         ...             ...         ...
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom       23.40
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom       23.60
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom       30.00
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom      214.80
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom       70.80

        HighValue  DiscountedPrice PriceCategory
0           False            2.295           Low
1            True            3.051           Low
2            True            2.475           Low
3            True            3.051           Low
4            True            3.051           Low
...           ...              ...           ...
541889       True            1.755           Low
541890       True            2.655           Low
541891       True            1.125           Low
541892       True            8.055        Medium
541893       True            6.372        Medium

[495478 rows x 12 columns]

In [81]:
high_quantity_sales = df_new[df_new['Quantity']>10]
print(high_quantity_sales)

       InvoiceNo StockCode                      Description  Quantity  \
9         536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26        536370     22728        ALARM CLOCK BAKELIKE PINK        24
27        536370     22727        ALARM CLOCK BAKELIKE RED         24
28        536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724  PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                              ...       ...
541894    581587     22631         CIRCUS PARADE LUNCH BOX         12
541895    581587     22556   PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555        PLASTERS IN TIN STRONGMAN        12
541902    581587     22629              SPACEBOY LUNCH BOX         12
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
9      2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08
26     2010-12-01 08:45:00       3.75     12583.0          France       90.00
27     2010-12-01 08:45:00       3.75     12583.0          France       90.00
28     2010-12-01 08:45:00       3.75     12583.0          France       45.00
29     2010-12-01 08:45:00       0.85     12583.0          France       10.20
...                    ...        ...         ...             ...         ...
541894 2011-12-09 12:50:00       1.95     12680.0          France       23.40
541895 2011-12-09 12:50:00       1.65     12680.0          France       19.80
541896 2011-12-09 12:50:00       1.65     12680.0          France       19.80
541902 2011-12-09 12:50:00       1.95     12680.0          France       23.40
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20

        HighValue  DiscountedPrice PriceCategory
9            True            1.521           Low
26           True            3.375           Low
27           True            3.375           Low
28           True            3.375           Low
29          False            0.765           Low
...           ...              ...           ...
541894       True            1.755           Low
541895       True            1.485           Low
541896       True            1.485           Low
541902       True            1.755           Low
541904      False            0.765           Low

[132631 rows x 12 columns]

In [82]:
uk_sales_high = df_new[(df_new['Country'] =='United Kingdom')& (df_new['Quantity']>300)]

print(uk_sales_high)

       InvoiceNo StockCode                     Description  Quantity  \
181       536387     22466   FAIRY TALE COTTAGE NIGHTLIGHT       432
182       536387     21731   RED TOADSTOOL LED NIGHT LIGHT       432
730       536437     17021          NAMASTE SWAGAT INCENSE       600
870       536477     21137        BLACK RECORD COVER FRAME       480
2364      536584    84029E  RED WOOLLY HOTTIE WHITE HEART.       384
...          ...       ...                             ...       ...
540060    581457     22189         CREAM HEART CARD HOLDER       324
540061    581457     23543             WALL ART KEEP CALM        698
540070    581458     22197                  POPCORN HOLDER      1500
540071    581459     22197                  POPCORN HOLDER      1200
540421    581483     23843     PAPER CRAFT , LITTLE BIRDIE     80995

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
181    2010-12-01 09:58:00       1.45     16029.0  United Kingdom      626.40
182    2010-12-01 09:58:00       1.25     16029.0  United Kingdom      540.00
730    2010-12-01 12:12:00       0.24     13694.0  United Kingdom      144.00
870    2010-12-01 12:27:00       3.39     16210.0  United Kingdom     1627.20
2364   2010-12-01 16:22:00       2.95     13777.0  United Kingdom     1132.80
...                    ...        ...         ...             ...         ...
540060 2011-12-08 18:43:00       3.39     18102.0  United Kingdom     1098.36
540061 2011-12-08 18:43:00       4.15     18102.0  United Kingdom     2896.70
540070 2011-12-08 18:45:00       0.72     17949.0  United Kingdom     1080.00
540071 2011-12-08 18:46:00       0.72     17949.0  United Kingdom      864.00
540421 2011-12-09 09:15:00       2.08     16446.0  United Kingdom   168469.60

        HighValue  DiscountedPrice PriceCategory
181          True            1.305           Low
182          True            1.125           Low
730          True            0.216           Low
870          True            3.051           Low
2364         True            2.655           Low
...           ...              ...           ...
540060       True            3.051           Low
540061       True            3.735           Low
540070       True            0.648           Low
540071       True            0.648           Low
540421       True            1.872           Low

[777 rows x 12 columns]

In [83]:
sales_2011 = df_new[df_new['InvoiceDate'].dt.year==2011]
print(sales_2011)

       InvoiceNo StockCode                      Description  Quantity  \
42481     539993     22386          JUMBO BAG PINK POLKADOT        10
42482     539993     21499               BLUE POLKADOT WRAP        25
42483     539993     21498              RED RETROSPOT WRAP         25
42484     539993     22379         RECYCLING BAG RETROSPOT          5
42485     539993     20718        RED RETROSPOT SHOPPER BAG        10
...          ...       ...                              ...       ...
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
42481  2011-01-04 10:00:00       1.95     13313.0  United Kingdom       19.50
42482  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42483  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42484  2011-01-04 10:00:00       2.10     13313.0  United Kingdom       10.50
42485  2011-01-04 10:00:00       1.25     13313.0  United Kingdom       12.50
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

        HighValue  DiscountedPrice PriceCategory
42481        True            1.755           Low
42482       False            0.378           Low
42483       False            0.378           Low
42484       False            1.890           Low
42485       False            1.125           Low
...           ...              ...           ...
541904      False            0.765           Low
541905      False            1.890           Low
541906       True            3.735           Low
541907       True            3.735           Low
541908      False            4.455           Low

[499428 rows x 12 columns]

In [84]:
sales_2010 = df_new[df_new['InvoiceDate'].dt.year==2010]
print(sales_2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42476    539991     21618       4 WILDFLOWER BOTANICAL CANDLES         1
42477    539991     72741                GRAND CHOCOLATECANDLE         4
42478    539992     21470        FLOWER VINE RAFFIA FOOD COVER         1
42479    539992     22258              FELT FARM ANIMAL RABBIT         1
42480    539992     21155                RED RETROSPOT PEG BAG         1

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42476 2010-12-23 16:49:00       1.25         NaN  United Kingdom        1.25
42477 2010-12-23 16:49:00       1.45         NaN  United Kingdom        5.80
42478 2010-12-23 17:41:00       3.75         NaN  United Kingdom        3.75
42479 2010-12-23 17:41:00       1.25         NaN  United Kingdom        1.25
42480 2010-12-23 17:41:00       2.10         NaN  United Kingdom        2.10

       HighValue  DiscountedPrice PriceCategory
0          False            2.295           Low
1           True            3.051           Low
2           True            2.475           Low
3           True            3.051           Low
4           True            3.051           Low
...          ...              ...           ...
42476      False            1.125           Low
42477      False            1.305           Low
42478      False            3.375           Low
42479      False            1.125           Low
42480      False            1.890           Low

[42481 rows x 12 columns]

In [85]:
sales_dic_2010 = df_new[(df_new['InvoiceDate'].dt.year==2010) &(df_new['InvoiceDate'].dt.month==12)]
print(sales_dic_2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42476    539991     21618       4 WILDFLOWER BOTANICAL CANDLES         1
42477    539991     72741                GRAND CHOCOLATECANDLE         4
42478    539992     21470        FLOWER VINE RAFFIA FOOD COVER         1
42479    539992     22258              FELT FARM ANIMAL RABBIT         1
42480    539992     21155                RED RETROSPOT PEG BAG         1

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42476 2010-12-23 16:49:00       1.25         NaN  United Kingdom        1.25
42477 2010-12-23 16:49:00       1.45         NaN  United Kingdom        5.80
42478 2010-12-23 17:41:00       3.75         NaN  United Kingdom        3.75
42479 2010-12-23 17:41:00       1.25         NaN  United Kingdom        1.25
42480 2010-12-23 17:41:00       2.10         NaN  United Kingdom        2.10

       HighValue  DiscountedPrice PriceCategory
0          False            2.295           Low
1           True            3.051           Low
2           True            2.475           Low
3           True            3.051           Low
4           True            3.051           Low
...          ...              ...           ...
42476      False            1.125           Low
42477      False            1.305           Low
42478      False            3.375           Low
42479      False            1.125           Low
42480      False            1.890           Low

[42481 rows x 12 columns]

## PIVOT TABLE

In [89]:
pivot_table = pd.pivot_table(sales_2010, values="Quantity",index='Country', columns="StockCode",aggfunc=['sum','mean'])
print(pivot_table)

                   sum                                                        \
StockCode        10002 10120 10123C 10124A 10124G  10125  10133  10135 11001
Country
Australia          NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Austria            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Bahrain            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Belgium            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Channel Islands    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Cyprus             NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Denmark            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
EIRE              12.0   NaN    NaN    NaN    NaN    NaN    NaN    NaN  16.0
Finland            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
France            96.0   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Germany            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Iceland            NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Israel             NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Italy              NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Japan              NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Lithuania          NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Netherlands        NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Norway             NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Poland             NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Portugal           NaN   NaN    NaN    NaN    NaN    NaN   20.0    NaN   NaN
Spain              NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Sweden             NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
Switzerland        NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN   NaN
United Kingdom   143.0  16.0    1.0    4.0    5.0  154.0  110.0  411.0  57.0

                       ...     mean                                   \
StockCode       15034  ... DCGS0003 DCGS0070 DCGS0076  DOT         M
Country                ...
Australia         NaN  ...      NaN      NaN      NaN  NaN       NaN
Austria           NaN  ...      NaN      NaN      NaN  NaN       NaN
Bahrain           NaN  ...      NaN      NaN      NaN  NaN       NaN
Belgium           NaN  ...      NaN      NaN      NaN  NaN       NaN
Channel Islands   NaN  ...      NaN      NaN      NaN  NaN       NaN
Cyprus            NaN  ...      NaN      NaN      NaN  NaN       NaN
Denmark           NaN  ...      NaN      NaN      NaN  NaN       NaN
EIRE              NaN  ...      NaN      NaN      NaN  NaN       NaN
Finland           NaN  ...      NaN      NaN      NaN  NaN       NaN
France            NaN  ...      NaN      NaN      NaN  NaN       NaN
Germany           NaN  ...      NaN      NaN      NaN  NaN       NaN
Iceland           NaN  ...      NaN      NaN      NaN  NaN       NaN
Israel            NaN  ...      NaN      NaN      NaN  NaN       NaN
Italy             NaN  ...      NaN      NaN      NaN  NaN       NaN
Japan             NaN  ...      NaN      NaN      NaN  NaN       NaN
Lithuania         NaN  ...      NaN      NaN      NaN  NaN       NaN
Netherlands       NaN  ...      NaN      NaN      NaN  NaN       NaN
Norway            NaN  ...      NaN      NaN      NaN  NaN       NaN
Poland            NaN  ...      NaN      NaN      NaN  NaN       NaN
Portugal          NaN  ...      NaN      NaN      NaN  NaN       NaN
Spain             NaN  ...      NaN      NaN      NaN  NaN       NaN
Sweden            NaN  ...      NaN      NaN      NaN  NaN       NaN
Switzerland       NaN  ...      NaN      NaN      NaN  NaN       NaN
United Kingdom   45.0  ...      1.0      1.0      1.5  1.0  4.897436


StockCode            POST    S gift_0001_40 gift_0001_50    m
Country
Australia             NaN  NaN          NaN          NaN  NaN
Austria          3.000000  NaN          NaN          NaN  NaN
Bahrain               NaN  NaN          NaN          NaN  NaN
Belgium          2.600000  NaN          NaN          NaN  NaN
Channel Islands       NaN  NaN          NaN          NaN  NaN
Cyprus                NaN  NaN          NaN          NaN  NaN
Denmark          8.000000  NaN          NaN          NaN  NaN
EIRE                  NaN  NaN          NaN          NaN  NaN
Finland          6.000000  NaN          NaN          NaN  NaN
France           3.058824  NaN          NaN          NaN  NaN
Germany          4.000000  NaN          NaN          NaN  NaN
Iceland               NaN  NaN          NaN          NaN  NaN
Israel                NaN  NaN          NaN          NaN  NaN
Italy            2.500000  NaN          NaN          NaN  NaN
Japan                 NaN  NaN          NaN          NaN  NaN
Lithuania             NaN  NaN          NaN          NaN  NaN
Netherlands      1.000000  NaN          NaN          NaN  NaN
Norway                NaN  NaN          NaN          NaN  NaN
Poland                NaN  NaN          NaN          NaN  NaN
Portugal         2.333333  NaN          NaN          NaN  NaN
Spain            5.000000  NaN          NaN          NaN  NaN
Sweden                NaN  NaN          NaN          NaN  NaN
Switzerland      2.000000  NaN          NaN          NaN  NaN
United Kingdom  -0.600000 -1.0          1.0          1.0  1.0

[24 rows x 5644 columns]

In [90]:
df = pd.DataFrame({
    'A': ["foo", 'bar','baz'],
    'B': [1,2,3],
    'C':[4,5,6]
})
print(df)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [91]:
df_stack = df.stack()
print(df_stack)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object

In [93]:
df_unstacked = df_stack.unstack()
print(df_unstacked)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

## Uniones

In [94]:
# Ejercicios con merge()
df1 = pd.DataFrame({
  'key': ['A', 'B', 'C'],
  'value1': [1,2,3]
})

df2 = pd.DataFrame({
  'key': ['B', 'C', 'D'],
  'value2': [4,5,6]
})

print(df1)
print(df2)
"""

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

"\n# Ejercicios con concat()\ndf3 = pd.DataFrame({\n  'A': ['A0', 'A1', 'A2'],\n  'B': ['B0', 'B1', 'B2'],\n})\n\ndf4 = pd.DataFrame({\n  'A': ['A3', 'A4', 'A5'],\n  'B': ['B3', 'B4', 'B5'],\n}) \n\n# Ejercicios con join()\ndf5 = pd.DataFrame({\n    'A': ['A0', 'A1', 'A2'],\n    'B': ['B0', 'B1', 'B2']\n  }, \n  index = ['K0', 'K1', 'K2']\n) \n\ndf6 = pd.DataFrame({\n    'C': ['C0', 'C1', 'C2'],\n    'D': ['DO', 'D1', 'D2']\n  }, \n  index = ['K0', 'K2', 'K3']\n)\n"

In [95]:
ineer_merged = pd.merge(df1,df2, on = 'key', how='inner')
print(ineer_merged)

  key  value1  value2
0   B       2       4
1   C       3       5

In [96]:
outer_merged = pd.merge(df1,df2, on='key', how='outer')
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [98]:
left_merged =pd.merge(df1, df2, on='key', how = 'left')
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [99]:
right_merged =pd.merge(df1, df2, on='key', how = 'right')
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

## CONCATC

# Ejercicios con concat()
df3 = pd.DataFrame({
  'A': ['A0', 'A1', 'A2'],
  'B': ['B0', 'B1', 'B2'],
})

df4 = pd.DataFrame({
  'A': ['A3', 'A4', 'A5'],
  'B': ['B3', 'B4', 'B5'],
})

In [100]:
# Ejercicios con concat()
df3 = pd.DataFrame({
  'A': ['A0', 'A1', 'A2'],
  'B': ['B0', 'B1', 'B2'],
})

df4 = pd.DataFrame({
  'A': ['A3', 'A4', 'A5'],
  'B': ['B3', 'B4', 'B5'],
})

In [101]:
print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [102]:
vertical_concar = pd.concat([df3,df4])
print(vertical_concar)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [103]:
horizontal_concar = pd.concat([df3,df4], axis = 1)
print(horizontal_concar)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [104]:

# Ejercicios con join()
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
  }, 
  index = ['K0', 'K1', 'K2']
) 

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['DO', 'D1', 'D2']
  }, 
  index = ['K0', 'K2', 'K3']
)

In [105]:
print(df5)
print(df5)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [107]:
joined = df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  DO
K2  A2  B2  C1  D1